/*SCAFFOLDING*/

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
	min-width: 1200px;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	font-family: "Roboto Condensed", "Arial", sans-serif;
	color: #444;
	background-color: #fff;
}

h1 {
	margin-top: 0;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	font-family: "Roboto Condensed", "Arial", sans-serif;
	color: #000;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
	color: #000;
}

/*.section-title {
	margin-left: 30px;
	margin-bottom: 40px;
}*/

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
	width: 1160px;
	margin: 0 auto;
}

/*=======HEADER============*/

.main-header {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.main-header__title {
	padding: 20px;
}

.sub-title {
	position: absolute;
	top: 65px;
	right: 380px;
}

/*=========EXAMPLE_CARDS============*/

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 80px;
}

.card__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 320px;
	height: 370px;
	margin: 0 30px 35px 30px;
	text-align: center;
	background-color: #ffcc80;
}

.card__container:hover {
	background-color: #ffd54f;
}

.card__img {
	display: block;
	margin: 10px;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(110, 95, 110, 0.3);
	        box-shadow: 1px 1px 1px 1px rgba(110, 95, 110, 0.3);
}

.card__type {
	background-color: #ca9b52;
	text-align: center;
}

.card__type a {
	text-decoration: none;
	color: #000;
	padding: 0 130px;
}

.card__type a:hover {
	opacity: 0.7;
}

.hidden-card {
	position: relative;
}

.hide {
	display: none;
}

.hidden-card__info {
	position: absolute;
	top: -440px;
	left: 9px;
	width: 302px;
	height: 352px;
	background-color: #ffffb0;
	text-align: left;
	-webkit-box-shadow: 0 10px 6px -6px rgba(110, 95, 110, 0.3);
	        box-shadow: 0 10px 6px -6px rgba(110, 95, 110, 0.3);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.hidden-card__title {
	display: block;
	margin-left: 40px;
	margin-top: 70px;
	font-size: 25px;
	line-height: 1.2;
}

.hidden-card__description {
	list-style: none;
	font-size: 15px;
	line-height: 45px;
	text-transform: uppercase;
}

.hidden-card__link {
	text-decoration: none;
	color: #00838f;
}

.btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: -436px;
	left: -31px;
	width: 20px;
	height: 20px;
	background: url("../img/cross.png") no-repeat center;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.animate {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.repo-link {
	margin-top: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #005662;
	cursor: pointer;
}

.repo-link:hover {
	background-color: #00838f;
}


/*=========FOOTER============*/

.main-footer {
	margin-top: 100px;
}

.footer-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.footer-info__mail a {
	text-decoration: none;
	color: #005662;
}

.footer-info__copyright {
	font-size: 13px;
}
